* {
  font-family: 'Arial', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #575757;
}

.title {
  font-size: 2rem;
  color: #fff;
}

#game {
  position: relative;
  width: 300px;
  height: 800px;
  background: #222;
  overflow: hidden;
}

#lanes {
  display: flex;
  height: 100%;
}

.lane {
  flex: 1;
  position: relative;
}

.lane::before,
.lane::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 1.5px;
  background: repeating-linear-gradient(
    to bottom,
    #bebebe 0px,
    #bebebe 40px,
    transparent 40px,
    transparent 60px
  );
  animation: moveRoad 100ms linear infinite;
}

@keyframes moveRoad {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 60px;
  }
}

.lane::before {
  left: 0;
}

.lane::after {
  right: 0;
}

#player {
  position: absolute;
  bottom: 20px;
  width: auto;
  height: 100px;
  object-fit: contain;
  /* border: 1px solid red; */
  transition: transform 0.4s ease-in-out;
  border-radius: 100%;
}

.obstacle {
  position: absolute;
  width: 50px;
  height: 80px;
}
